<div class="col-md-3 well blue">  
  <h4><%= @user_selected_msa %></h4>
  <p>Projected Market size: <%= market_size_status(@msa_market_size) %></p>
  <p>Total Number of Hospitals: <%= @hospital_count %></p>
  <p>Total Number of Beds: <%= number_with_delimiter @beds_count %></p>
</div>